<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>E-Commerce Now - Page Not Found</title>
    <link rel="stylesheet" href="/css/main.css"/>
  </head>

  <body>
    
    <nav class='navbar navbar-default navbar-static-top'></nav>
    
    <div class="container">
      <h1>Oops! This page doesn't exisit!</h1> 
    </div>
    <script src="/js/vendor.js"></script>
    <script src="/js/bundle.js"></script>
    
    <script src='/js/components/navbar.js'></script>
    
  </body>
</html>