<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>E-Commerce Now | Account</title>
    <link rel="stylesheet" href="/css/main.css"/>
  </head>

  <body> 
    <nav class='navbar navbar-default navbar-static-top'></nav>
    <div class='container home'>
      <div class='account-info-field'>
        <h3 class='title'>Account Information</h3>
        <div class='container'>
          <div class='col-sm-8'>
            <div class='panel panel-default'>
              <div class='panel-heading'>Edit Your Info</div>
              <div class='panel-body'>
                <form id='accountInfo' role='form'>
                  <div class='form-group'>
                    <label class='control-label'>Username</label>
                    <input type='text' class='form-control' name='username' autoFocus/>
                    <span class='help-block'></span>
                  </div>
                  <button type='submit' class='btn btn-primary'>Update Info</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='users-field'>
        <h3 class='title'>Friends</h3>
        <div class='container'></div>
      </div>
    </div>
    
    <script src='/js/vendor.js'></script>
    <script src='/js/bundle.js'></script>
    
    <script src='/js/components/navbar.js'></script>
    <script src='/js/components/getUser.js'></script>
    <script src='/js/components/getFriends.js'></script>
    
  </body>
</html>